<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Edit Trip</h1>

<form action="/trips/<%= @trip.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">

  <label>Trip Name: </label><input type="text" name="name" value="<%= @trip.name %>"><br></br>

  <label>Destination: </label><input type="text" name="destination" value="<%= @trip.destination %>"><br></br>

  <label>Date: </label><input type="text" name="date" value="<%= @trip.date.strftime('%B %d, %Y') %>"><br></br>

  <label>Activities: </label><input type="text" name="activities" value="<%= @trip.activities %>"><br></br>

  <label>Notes: (optional) </label><input type="text" name="notes" value="<% @trip.notes %>"><br></br>

  <input type="submit" name="submit" value="Save Trip">
</form>

<a href="/users/<%= current_user.slug %>">My Trips</a>
<a href="/trips/new">Create a Trip</a>
<a href="/trips/<%= @trip.id %>/delete">Delete Trip</a>
