<h1><%= @trip.name %></h1>

<h2><%= @trip.destination %></h2>
<p><%= @trip.date.strftime('%B %d, %Y') %></p>

<p><%= @trip.activities %></p>

<a href="/trips/<%= @trip.id %>/edit">Edit Trip</a>

<a href="/trips/<%= @trip.id %>/delete">Delete Trip</a>
