<h1>Hi, <%= current_user.username %></h1>

<h1>Newly created trips..</h1>

<% @trips[0..3].each do |trip| %>
  <h2><%= trip.name %></h2>
  <p><%= trip.destination %></p>
  <p><%= trip.activities %></p>
<% end %>

<a href="/trips/new">Create a Trip</a>
<a href="/users/<%= current_user.slug %>">My Trips</a>
<a href="/logout">Logout</a>
