<% if @user == current_user %>
  <h1>Hi, <%= @user.username %>!</h1>
  <h3>Your Trips:</h3>
  <% @user.trips.each do |trip| %>
    <h4><a href="/trips/<%= trip.id %>"><%= trip.name%></a></h4>
    <p><strong>Destination: </strong><%= trip.destination %></p>
    <p><strong>Date: </strong><%= trip.date.strftime('%B %d, %Y') %></p>
    <p><strong>Activities: </strong><%= trip.activities %></p>
    <p><strong>Notes: </strong><%= trip.notes %></p>
  <% end %>

<% else %>

    <h1><%= @user.username %></h1>
    <h3>Their Trips:</h3>
    <% @user.trips.each do |trip| %>
      <h4><a href="/trips/<%= trip.id %>"><%= trip.name%></a></h4>
      <p><strong>Destination: </strong><%= trip.destination %></p>
      <p><strong>Activities: </strong><%= trip.activities %></p>
    <% end %>
<% end %>

<a href="/trips">Homepage</a>
<a href="/trips/new">Create a Trip</a>
<a href="/logout">Logout</a>
